---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Application Portal | TeaClient Website"
  desc="Application Portal to apply."
>
  <div class="text-container">
    <br />
    <h1>Welcome to the Application Page for TeaClient</h1>
    <p>Thank you for your interest in our applications.</p>
    <br />
    <p>We offer a variety of opportunities including:</p>
    <p>Developers, Designers, Staff, and More!</p>
    <br />
    <p>If you're interested, please select an application below:</p>
    <br />
    <div class="flex justify-between">
      <a
        href="/apply/staff"
        class="flex text-white w-40 gap-6 bg-clip-text rounded-sm hover:text-transparent active:text-transparent transition duration-200 bg-gradient-to-r from-[#6cff85] to-pink-300"
        >Staff Applications</a
      >
      <div class="border-l-2 border-gray-300 h-6 mx-3"></div>
      <a
        href="/apply/team"
        class="text-white w-40 bg-clip-text rounded-sm hover:text-transparent active:text-transparent transition duration-200 bg-gradient-to-r from-[#6e2bec] to-pink-500"
        >Team Applications</a
      >
    </div>
    <br />
  </div>
</Layout>
