---
import Layout from "../../layouts/default.astro"
import DownloadBox from '../../components/shared/DownloadBox.astro';
---

<Layout>
    <div class="container">
        <DownloadBox buttonText="Download Pvp PackRed" src="/packs/TeaClient - PVP PACK RED EDITION.zip" screenshot="/icon.webp" />
        <DownloadBox buttonText="Download all packs" />
      </div>
</Layout>