# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
bun.lockb
yarn.lockb
package-lock.json

# macOS-specific files
.DS_Store

# Cloud stuff 

