dist/
.astro/
.wrangler

# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example
.dev.vars

# lock files
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# macOS-specific files
.DS_Store

# Cloud stuff
/test-results/
/playwright-report/
/playwright/.cache/

# Nix stuff
.direnv
