---
import { twMerge } from "tailwind-merge";

let {src, className, flexbasis} = Astro.props;
---

<div class={twMerge("reveal-image", className)} style=`--image-url: url(${src}); flex-basis:${flexbasis}; `>
</div>

<style>

    .reveal-image {
        box-shadow:  0  0  40px var(--nav-color);
        position: relative;
        background: var(--image-url) center center / cover;
        border-radius:  1rem;
        z-index:  9;
        transition: transform  0.3s ease-in-out; 
        transform: perspective(800px) rotateY(-15deg) translateY(10px) rotateX(10deg) scale(1); 
    }

    .reveal-image:hover {
        transform: none;
    }

    .reveal-image::before {
        content: '';
        display: block;
        padding-top: calc(9 /  16 *  100%);
    }

    .reveal-image>* {
        top:  0;
        left:  0;
    }
</style>