---
import { Icon } from "astro-icon/components";
const logosizes = 26;
---

<footer class="w-full pt-[40px] top-full text-white ">
 <div id="copyright">
    <p>A Project Made with Love by TeaClient Team ♥️</p>
    <p>&copy; TeaClientMC. ALL RIGHTS RESERVED</p>
    <p>Not Afffliated with mojang or Minecraft</p>
 </div>
 <div id="Socials">
    <a href="/discord" target="_blank" rel="noopener noreferrer">
      <Icon icon="ic:baseline-discord" size={logosizes} class="text-neutral-300 pt-1"/>
    </a>
    <a href="/github" target="_blank" rel="noopener noreferrer">
      <Icon icon="mdi:github" size={logosizes} class="text-neutral-300"/>
    </a>
 </div>
</footer>