<footer>
    <div class="footer-content">
        <h3>Tea Client</h3>
    </div>
    <div class="footerNav">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="/tos">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2023 TeaClient</p>
        <p id="affiliation">Not affiliated with Mojang Studios</p>
        <div style="clear: both;"></div>
    </div>
</footer>