---
import { Image } from "astro:assets";
---

<section
  class="top-nav bg-[var(--nav-color)] flex flex-row items-center justify-between text-white h-[90px] p-[0.7rem]"
>
  <div class="flex flex-row items-center justify-center">
    <a href="/">
      <Image
        src="/icon.webp"
        width="96"
        height="96"
        alt="TeaClient Logo"
        loading="eager"
        id="logo"
      />
    </a>
    <a href="/" class="text-white hover:text-purple-600">Tea Client</a>
  </div>
  <input id="menu-toggle" class="hidden" type="checkbox" />
  <label
    class="menu-button-container hidden max-sm:flex h-[100%] w-[30px] justify-center flex-col cursor-pointer items-center"
    for="menu-toggle"
  >
    <div class="menu-button before:mt-[-8px] after:mt-[8px]"></div>
  </label>
  <ul class="menu flex flex-row list-none m-0 p-0 *:mx-4 *:overflow-hidden">
    <li>
      <input type="checkbox" class="checkbox absolute opacity-0" id="checkbox" />
      <label for="checkbox" class="checkbox-label bg-[#2e2e2e] w-[50px] h-[26px] rounded-[50px] relative p-[5px] cursor-pointer flex justify-between items-center" aria-label="Toggle theme">
        <i class="fas text-[f1c40f]"></i>
        <i class="fas text-[#f39c12]"></i>
        <span class="ball"></span>
        <span
          class="sr-only absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden border-0"
          >Toggle theme</span
        >
      </label>
    </li>
    <li><a href="/">HOME</a></li>
    <li><a href="/store">STORE</a></li>
    <li><a href="https://docs.teaclient.net">DOCS</a></li>
    <li><a href="/news">NEWS</a></li>
    <li><a class="download text-white font-bold hover:text-white bg-[#6e2bec] hover:bg-[#ec2b2bab]" href="/">DOWNLOAD</a></li>
  </ul>
</section>

<div class="page-background">
  <img
    class="fixed top-0 left-0 w-full h-full object-cover object-center -z-10 pointer-events-none [-webkit-user-drag: none] select-none"
    id="background-image"
    src="/background/1.webp"
    alt="The background"
    loading="lazy"
    decoding="async"
  />
</div>

<script>

  function switchTheme() {
    const currentTheme = document.documentElement.getAttribute('data-theme');
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
    const button = document.querySelector('.checkbox') as HTMLInputElement;
    document.documentElement.setAttribute('data-theme', newTheme);
    localStorage.setItem('theme', newTheme);
    button.checked = newTheme === 'dark';
  }

  function setRandomBackgroundImage() {
    const images = ['/background/1.webp'];
    const randomImage = images[Math.floor(Math.random() * images.length)];
    (document.getElementById('background-image') as HTMLImageElement).src =
      randomImage;
  }

  document.addEventListener('DOMContentLoaded', () => {
    const currentTheme = localStorage.getItem('theme');
    const button = document.querySelector('.checkbox') as HTMLInputElement;
    if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);
      button.checked = currentTheme === 'dark';
    } else {
      document.documentElement.setAttribute('data-theme', 'dark');
      localStorage.setItem('theme', 'dark');
      button.checked = true;
    }
    setRandomBackgroundImage();
  });

  const button = document.querySelector('.checkbox') as HTMLInputElement;
  button.addEventListener('click', switchTheme);
</script>

<style>
  /* Mobile Button */
.menu-button,
.menu-button::before,
.menu-button::after {
 display: block;
 position: absolute;
 height: 4px;
 width: 30px;
 border-radius: 0.25rem;
 background-color: white;
 transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
 content: '';
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
 margin-top: 0;
 transform: rotate(-405deg);
}

@media (max-width: 1400px) {
 .menu-button-container {
  @apply flex;
 }
 .menu {
  @apply absolute top-0 mt-[90px] left-0 flex flex-col w-[100%] justify-center items-center;
 }


 #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
 }

 #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
 }
 .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    backdrop-filter: blur(10px);
    background-color: var(--nav-color);
 }

 #menu-toggle:checked ~ .menu > li a:not(.download) {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
 }
 #menu-toggle:checked ~ .menu > li a:hover:not(.download) {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
 }
}

li {
 list-style: none;
 display: inline-block;
 padding: 0.5rem 1rem;
 position: relative;
}

.menu li:not(.download) a {
 color: var(--navBar-Items);
 padding: 0.5rem;
 text-decoration: none;
 font-weight: bold;
 font-size: 1.1rem;
}
.menu li:not(.download) a:hover {
 color: var(--hover-color);
 background-color: var(--nav-buttons);
 text-decoration: none;
 font-weight: bold;
}


.download:hover {
 color: white;
 background-color: var(--hover-color);
 text-decoration: none;
 font-weight: bold;
}

.checkbox-label .ball {
 position: absolute;
 left: 2px;
 top: 2px;
 border-radius: 50%;
 background-color: orange;
 aspect-ratio: 1 / 1;
 width: 22px;
 box-shadow: 0px 0px 4px yellow;
 transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
 background-color: #101010;
 box-shadow: 0px 0px 4px white;
 transform: translateX(24px);
}
</style>
