<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Client</title>
    <link rel="shortcut icon" type="x-icon" href="Src/Assets/Images/logo_white.png">
    <link rel="shortcut icon" type="x-icon" href="/logo_white.png">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/4f8b78da11.css" crossorigin="anonymous">
</head>