---
import {Image} from "astro:assets"
---

<header>
    <nav>
        <div class="left_nav">
        <a href="/">
        <Image src="/icon.webp" width="50" height="50" alt="TeaClient Logo" loading="lazy" id="logo"></Image>
    </a>    
    <a href="/" id="title">Tea Client</a>
            <!-- <a href="/"><img id="logo" src="/logo_white.svg"></a> -->
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/download/">DOWNLOADS</a></li>
                <li><a href="https://store.teaclient.net">STORE</a></li>
                <li>
                    <a href="/">SOCIALS &#9662;</a>
                    <ul class="dropdown">
                        <li><a href="https://twitter.com/TeaClientMine" class="Twitter">Twitter</a></li>
                        <li><a href="https://www.twitch.tv/teaclientminecraft" class="Twitch">Twitch</a></li>
                        <li><a href="https://discord.gg/teaclient" class="Discord">Discord</a></li>
                        <li><a href="https://www.youtube.com/@teaclientmc" class="Youtube">YouTube</a></li>
                    </ul>
                </li>

                <li><a href="/docs">DOCUMENTS</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="page-background">
    <img src="/background.webp"/>
</div>