.error {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 50px;
}
.error h1 {
    font-size: 52px;
    font-weight: bold;
}
.error p {
    font-size: 18px;
    color: #929fa5;
}
.error a {
    font-size: 16px;
    text-decoration: underline;
}