*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Panton', sans-serif;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background: #29292a;
}
::-webkit-scrollbar-thumb {
    background: #52565a;
    border-radius: 10vw;
}
::-webkit-scrollbar-thumb:hover {
    background: #7d8183;
}
.left_nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_nav #title {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 36px;
    margin-left: 15px;
}
.left_nav #logo:hover {
    filter: invert(80%) sepia(85%) saturate(1352%) hue-rotate(230deg) brightness(75%) contrast(100%);
}
.left_nav #title:hover {
    color: #6E2BEC;
}
/* header */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
/* navigation */
nav {
    position: relative;
    display: flex;
    padding: 1% 2%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
nav h4{
    color: white;
    padding-left: 20px;
    font-size: 36px;
}
nav img{
    width: 90px;
}
ul li ul.dropdown li {
    display: block;
    
}
ul li ul.dropdown {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}
ul li:hover ul.dropdown {
    margin-top: 33px;
    display: block;
    text-align: left;
    top: 0%; /* You can adjust this value as needed */
    left: 0;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-links ul li a:hover{
    color: #6E2BEC;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
/* Footer */
footer{
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
/* footer navigation */
.fa-brands{
    color: white;
    transform: scale(2);
    margin: 20px;
    transition: 0.25s;
}
.fa-brands:hover{
    color: gray;
}
.footerNav {
    text-align: center;
}
.footerNav a{
    display: flex;
    display: inline-block;
    margin-right: 10px;
}
.footerNav a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav a:hover{
    opacity: 1;
}
/* footer bottom */
.footer-bottom{
    overflow: auto;
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    margin-left: 20px;
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}
#affiliation {
    margin-right: 20px;
    float: right;
}