:root {
  --hover-color: #6e2bec;
}

/* Apply the variables based on the theme */
[data-theme="dark"] {
  --nav-color: rgb(0 0 0 / 50%);
  --nav-color2: rgb(0 0 0 / 79%);
  --navBar-Items: white;
  --text: white;
  --nav-buttons: white;
  --mobile-hover: rgba(255, 255, 255, 0.4);
}

[data-theme="light"] {
  --nav-color: rgb(255 255 255 / 25%);
  --nav-color2: rgb(255 255 255 / 50%);
  --navBar-Items: black;
  --text: black;
  --nav-buttons: #0000005c;
  --mobile-hover: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Panton, sans-serif;
  font-size: 1.2rem;
}

@media only screen and (width <= 768px) {
  * {
    font-size: 1.1rem;
  }
}

.container {
  @apply flex flex-col h-[100vh] w-[100vh];
}

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.content {
  margin: auto;
  max-width: 1200px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  background: #384957;
  border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d8183;
}

img#logo:hover {
  filter: invert(78%) sepia(87%) saturate(2524%) hue-rotate(252deg)
    brightness(87%) contrast(114%);
}

/* header */
header {
  min-height: 10vh;
  width: 100%;
}

.commingSoon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 50px;
}

.commingSoon h1 {
  font-size: 52px;
  font-weight: bold;
}

.commingSoon p {
  font-size: 18px;
  color: #929fa5;
}

.commingSoon a {
  font-size: 16px;
  text-decoration: underline;
}

.error {
  @apply flex flex-col text-center;

  color: var(--text);
  line-height: 50px;
}

.error h1 {
  font-size: 52px;
  font-weight: bold;
}

.error p {
  font-size: 18px;
  color: #929fa5;
}

.error a {
  font-size: 16px;
  text-decoration: underline;
}

.news-container a {
  @apply text-red-600;
}
