// ----------------------------------------------------------

// Root(*) main stuff.

:root {
  /* Define the variables for both themes here */
  --nav-color-dark: rgb(0 0 0 / 50%);
  --nav-color-light: rgb(255 255 255 / 50%);
  --navBar-Items-dark: white;
  --navBar-Items-light: black;
  --hover-color: #6e2bec;
  --text-dark: white;
  --text-light: black;
  --footer-hover: white;
  --footer-color2: rgb(22 31 46 / 75%);
  --background-image-dark: url('./background_dark.webp');
  --background-image-light: url('./background_light.webp');
}

/* Apply the variables based on the theme */
[data-theme='dark'] {
  --nav-color: var(--nav-color-dark);
  --navBar-Items: var(--navBar-Items-dark);
  --text: var(--text-dark);
  --background-image: var(--background-image-dark);
  --footer-color: black;
  --footer-text-color: white;
}

[data-theme='light'] {
  --nav-color: var(--nav-color-light);
  --navBar-Items: var(--navBar-Items-light);
  --text: var(--text-light);
  --background-image: var(--background-image-light);
  --footer-color: rgb(255 255 255 / 50%);
  --footer-text-color: rgb(0 0 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Panton, sans-serif;
  font-size: 1.2rem;
  // --background-image: url(./background_dark.webp);
  // --nav-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (width <= 768px) {
  * {
    font-size: 1.5rem;
  }
}

a {
  color: lightgray;
  text-decoration: underline;
}

p {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.content {
  margin: auto;
  max-width: 1200px;
}

// ----------------------------------------------------------

/* scrollbar */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #29292a;
}

::-webkit-scrollbar-thumb {
  background: #52565a;
  border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d8183;
}

img#logo:hover {
  filter: invert(78%) sepia(87%) saturate(2524%) hue-rotate(252deg)
    brightness(87%) contrast(114%);
}

// ----------------------------------------------------------

/* header */

header {
  min-height: 10vh;
  width: 100%;
}

// ----------------------------------------------------------

// Backgound

.page-background {
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
  }
}

// Comming Soon Text

.commingSoon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 50px;

  h1 {
    font-size: 52px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    color: #929fa5;
  }

  a {
    font-size: 16px;
    text-decoration: underline;
  }
}

// ----------------------------------------------------------

// Error Page Section

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--text);
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 50px;

  h1 {
    font-size: 52px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    color: #929fa5;
  }

  a {
    font-size: 16px;
    text-decoration: underline;
  }
}

.box {
  width: 50vh;
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20%;
  margin-left: 30%;

  @apply sm:ml-1 sm:w-3/4 md:-mr-[50%];

  text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    gap: 10px;
  }
}

// ----------------------------------------------------------

//  Mobile Support Section
