---
import Layout from '../layouts/layout.astro';
---

<Layout class="text-center  h-[100vh] bg-transparent">
  <h1 class="text-3xl">Client Coming soon</h1>
  <h2 class="text-2xl">April  21  2024</h2>
  <br>
  <p>Check our <a class="text-gray-300 underline hover:text-purple-500" href="/discord">discord</a> for updates</p>
</Layout>
