---
import Layout from "@/layouts/layout.astro";
---
<Layout agreement={false}>
  <div class="flex flex-col justify-center text-center items-center mt-[25%] mb-[25%]">
    <div class="animate-pulse-custom">
      <h1 class="text-6xl font-bold">Coming Soon!</h1>
      <h2 class="text-2xl font-bold">We Will be out soon!</h2>
      <h3 class="text-md font-bold text-purple-900">Booting up Hopefully August</h3>
    </div>
    <a href="/discord" class="text-sky-300/40 hover:text-sky-300/50 mt-10"
    >Join our Discord for Updates</a>
  </div>
</Layout>
