---
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Home | TeaClient Website"
>
  <div class="flex flex-row m-10 xl:ml-10">
    <div class="text-center flex flex-col pl-[10%] xl:pl-[20%]">
      <h1 class="text-3xl">We Are TeaClient</h1>
      <h2 class="text-2xl">We Make Minecraft servers and Minecraft Clients</h2>
      <br />
      <p
        class="text-2xl bg-linear-to-tr bg-clip-text text-transparent from-violet-500 to-violet-300"
      >
			Coming Soon, Estimate: 2025
      </p>
      <p>
        Check our <a
          class="text-gray-300 underline hover:text-purple-500"
          href="/discord">discord</a
        > for infomation or updates
      </p>
    </div>
  </div>
</Layout>
