---
import Layout from '../layouts/layout.astro'

---

<Layout>
    <h1 class="commingSoon">Client Coming soon</h1>

    <h1 class="commingSoon2">Estimate: Jan 2024</h1>


<style>
    .commingSoon {
        color: white;
        font-size: 60px;
    }

    .commingSoon2 {
        color: white;
    }


</style>


</Layout>