---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <h1 class="text-white text-6xl">COMING SOON!</h1>
  <h2 class="text-white text-4xl">Beta: Apirl 21 2024</h2>
  <br />
  <p>Check our <a href="/social">Socials</a> for updates</p>
</Layout>