---
import Layout from '../layouts/layout.astro'

---

<Layout>
    <h1 class="comingSoon">Client Coming soon</h1>

    <h1 class="comingSoon2">Estimate: Jan 2024</h1>


<style>
    .comingSoon {
        color: white;
        font-size: 60px;
    }

    .comingSoon2 {
        color: white;
    }


</style>


</Layout>