---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <h1 class="text-white text-6xl">Client Coming soon</h1>
  <h2 class="text-white text-4xl">Estimate: Jan 2024</h2>
  <br />
  <p>Check our <a href="/discord">discord</a> for updates</p>
</Layout>
