---
import CustomImage from "@component/CustomImage.astro";
import HeroImage from "@component/HeroImage.astro";
import Layout from "@layout/layout.astro";
---

<Layout
  className="h-full pb-16 backdrop-blur-sm"
  title="Home | TeaClient Website"
>
  <div class="flex flex-row m-10 xl:ml-10">
    <div class="text-center flex flex-col pl-[10%] xl:pl-[20%]">
      <h1 class="text-3xl">We Are TeaClient</h1>
      <h2 class="text-2xl">We Make Minecraft servers and Minecraft Clients</h2>
      <br />
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-violet-400 to-violet-500 text-3xl"
      >
        Client Comming Soon
      </span>
      <p class="text-2xl">DELAYED approximately 22-24 Apirl</p>
      <p>
        Check our <a
          class="text-gray-300 underline hover:text-purple-500"
          href="/discord"
        >discord</a> for infomation or updates
      </p>
    </div>
    <HeroImage src="/background/1.webp" flexbasis="30%" />
  </div>

  <div class="flex flex-row">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
      dignissimos debitis porro maxime sed quam suscipit tenetur voluptates
      dolores distinctio exercitationem voluptate dolor quo incidunt natus,
      iusto dolorum odit? Illo!
    </p>
    <br />
    <CustomImage src="/background/1.webp" flexbasis="18%" />
  </div>
  <div class="flex flex-row">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
      dignissimos debitis porro maxime sed quam suscipit tenetur voluptates
      dolores distinctio exercitationem voluptate dolor quo incidunt natus,
      iusto dolorum odit? Illo!
    </p>
    <br />
    <CustomImage src="/background/1.webp" flexbasis="18%" />
  </div>
</Layout>
