---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <div class="box">
    <div class="text-container">
      <h1 class="Title">Wellcome To Joining TeaClient</h1>
      <br />
      <a
        >We offer many positions Like Joining the team behind making the Client
        or moderating server to keep the socials a safe friendly enviroment.</a
      >
    </div>
  </div>
</Layout>

<style>
  .Title {
    color: white;
    justify-self: center;
  }
</style>
