---
import Layout from "@/layouts/layout.astro";

const policies = [
	{
		name: "Terms of Service",
		link: "/terms",
	},
	{
	name: "Privacy Policy",
		link: "/privacy",
	}
];


---

<Layout
  className="h-full pb-16 backdrop-blur-sm bg-opacity-15"
  title="Home | TeaClient Website"
>
  <div>
    <div
      class="flex m-10 justify-center bg-gradient-to-r from-violet-400 to-violet-500 bg-clip-text text-transparent text-3xl"
    >
      Our Policies
    </div>
    <ul class="flex flex-col gap-5 justify-center items-center list-none">
      {
        policies
          .map((item) => (
            <li>
							<a class="text-white no-underline" href={item.link}>
                {item.name}
              </a>
            </li>
          ))
      }
    </ul>
</Layout>
