---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <h1>Resources</h1>
  <p>We have increadable resources to view</p>
  <h1>RoadMap</h1>
  <p>We offer a road map using tagia</p>
  <button type="button" class="Button-link">Access here</button>
</Layout>
