---
import Layout from '../layouts/layout.astro'
---

<Layout>



    
    <h1>Resources</h1>
    <p>Resources that are available to view for whatever you need them for.</p>
    <h1>Development Roadmap</h1>
    <p>The Development Roadmap shows the path of development as well as upcoming (major) updates and fixes.</p>
    <button type="button" class="Button-link">Access the Roadmap here</button>
</Layout>
