---
import Layout from '../layouts/layout.astro'
import { Image } from 'astro:assets';
import Logo from '/public/Favicon.webp'
---


<Layout>
    <div class="box">
      <div class="logo-text-container">
        <a class= "SocialText">TeaClient Socials</a>

      </div>
    </div>
  </Layout>


<style lang="scss">
.logo-text-container {display: flex; flex-direction: column; justify-content: center; align-items: center; margin: auto; width: fit-content; gap: 10px; }
.logo {border-radius: 50%; }
.SocialText {padding-top: 10px; color: white;}

</style>