---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <h1>Store Closed.</h1>
  <p>Check Discord for Updates Currently Closed.</p>
</Layout>

<style>
  h1 {
    padding-top: 10%;
    font-size: 50px;
    color: white;
    text-align: center;
    justify-content: center;
  }

  p {
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
  }
</style>
