---
import Layout from "@layout/documents.astro";
const updated = "5/9/2024";
---

<Layout title="Terms of Service" desc="Terms of Service for TeaClient">
  <div class="px-[1%] pt-3 justify-center items-center">
    <h1>Terms of Service</h1>
    <p class="text-slate-500">Last updated: {updated}</p>

    <p>
      Please read these terms of service (“terms”, “terms of service”) carefully
      before using TeaClient (the “service” or "project") operated by
      TeaClientMC. (“us”, ‘we”, “our”).
    </p>

    <h2>Disclaimer</h2>
    <p class="text-red-700">
      We are not affiliated with Microsoft, Mojang, or Minecraft. We are also
      not affiliated with TLauncher, or the company behind TLauncher.
    </p>

    <h2>Appon Using TeaClient/Sourcing it for other OS/Package-managers</h2>
    <p>
      You must include this terms of service in any source code that you use to
      package/distribute TeaClient. Note: There is guides under contributing for
      the launcher on how to do this.
    </p>

    <h2>Condition of Use</h2>
    <p>
      We will provide the services to you, which are subject to the conditions
      stated below in this document. Every time you visit this website, use its
      services or make a purchase, you accept the following conditions. This is
      why we urge you to read them carefully.
    </p>

    <h2>Intellectual Property Rights</h2>
    <p>
      Content published on this website and services (digital downloads, images,
      texts, graphics, logos) is the property of TeaClientMC, and/or its
      contributors and protected by international copyright laws. The entire
      compilation of the content found on this website and TeaClient is the
      exclusive property of TeaClientMC.
    </p>
    <p>
      Any Claims of Intellectual copyrighted content that has (published before
      <!-- TeaClient, has the same name & original assets) should be reported to <a
        href="mailto:copyright@teaclient.net">copyright@teaclient.net</a
      > with a legal document of a <a href="#">take down request</a>. -->
    </p>

    <h2>Liability</h2>
    <p class="todo-section">TODO</p>

    <h2>Governing Law</h2>
    <p>
      By Using this ("Service" or "project"), you agree that the laws of the
      Tasmania, Australia, without regard to principles of conflict laws, will
      govern these terms of service, or any dispute of any sort that might come
      between TeaClientMC. and you, or its associates.
    </p>

    <h2>Legal Age</h2>
    <p>
      All of TeaClientMC services related to as known as "Social Media" as a
      minor you have to be at least 13 years with parental guardian permission
      or at the age of majority in your state, territory, country.
    </p>
    <p class="todo-section">TODO</p>

    <h2>Termination/Suspension</h2>
    <p>
      As of TeaClientMC or known as "TeaClient" the (service) or the (project)
      we have the right for any reason to suspend/terminate you from our
      service/platform at anytime for any reason. This can include for Legal
      Reasons, Service Guidelines and Terms of Service.
    </p>
    <p class="todo-section">TODO</p>

    <h2>Information</h2>
    <p class="todo-section">TODO</p>
  </div>
</Layout>

<style>
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }

  p {
    @apply mb-4;
  }

  .todo-section {
    @apply text-orange-500; /* Adjust the shade of orange as needed */
  }
</style>
