---
import Layout from '../layouts/layout.astro';
---

<Layout>
  <div class="tos-container">
    <h1 class="tos-title">Terms of Service</h1>
    <p>Last Updated: October 30 2023</p>
    <br />
    <br />
    <br />
    <p>
      Please read these terms of service (“terms”, “terms of service”) carefully
      before using TeaClient (the “service”) operated by TeaClientMC. (“us”,
      ‘we”, “our”).
    </p>
    <br />
    <br />
    <h1 class="tos-title">Condition of Use</h1>
    <p>
      We will provide their services to you, which are subject to the conditions
      stated below in this document. Every time you visit this website, use its
      services or make a purchase, you accept the following conditions. This is
      why we urge you to read them carefully.
    </p>
    <br />
    <br />
    <h1 class="tos-title">Our Content</h1>
    <p>
      Content published on this website and services (digital downloads, images,
      texts, graphics, logos) is the property of TeaClientMC, and/or its
      contributors and protected by international copyright laws. The entire
      compilation of the content found on this website and TeaClient is the
      exclusive property of TeaClientMC.
    </p>
    <!-- Add the rest of your terms of service here -->
    <br />
    <br />
    <h1 class="tos-title">Govening Law</h1>
    <p>
      By visiting this website, you agree that the laws of the California,
      without regard to principles of conflict laws, will govern these terms of
      service, or any dispute of any sort that might come between TeaClientMC.
      and you, or its associates.
    </p>
    <br />
    <br />
    <h1 class="tos-title">Social Media</h1>
    <p></p>
  </div>
</Layout>

<style>
  body {
    display: flexbox;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
  }

  .tos-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    bottom: 100%;
    height: 20%;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20%;
  }

  .tos-title {
    text-align: center;
    margin-bottom: 20px;
  }
</style>
