---
import { Image } from "astro:assets";
import DiscordSVG from "@assets/svgs/Discord.svg";
import GithubSVG from "@assets/svgs/Github-white.svg";
import { twMerge } from "tailwind-merge";

interface Props {
  extraClass?: string;
}

const logosizes = 36;
const { extraClass } = Astro.props;
---

<footer
  class={twMerge(
    "w-full pt-[40px] top-full text-white bg-black bg-opacity-30 backdrop-blur-md",
    extraClass
  )}
>
  <div class="flex flex-col gap-5 justify-center items-center">
    TeaClientMC © {new Date().getFullYear()}
  </div>
</footer>
