---
import {Image} from "astro:assets";
---

<footer class="flex justify-between w-full h-auto bg-[color:var(--nav-color)] pt-[40px] top-full text-white">
	<div class="flex">
		<img src="/icon.webp" loading="eager" width=70 height=70 alt="logo">
		<div id="copyright" class="p-2">
    <p>&copy; TeaClientMC. ALL RIGHTS RESERVED</p>
		<p>Not Afffliated with mojang or Minecraft</p>
		</div>
  </div>
  <div id="Socials" class="[&_a]:text-white [&_a]:no-underline hover:[&_a]:font-bold flex flex-row mr-[20px] gap-x-4 float-right p-5">
		<a href="/community">
			Community
		</a>
		<a href="/policies">
			Terms & Privacy
		</a>
		<a href="/apply">
			Applications
		</a>
		<a href="/github">
			TeaMC
    </a>
	</div>
</footer>


<style>
	footer {

  p {
    @apply text-white font-bold font-sans text-sm;
    word-spacing: 2px;
	}

   #copyright {
    @apply flex flex-col float-left ml-[20px];
   }

   #copyright p:last-child {
    @apply mb-5 text-gray-600;
   }
}
</style>
