---
import { ArrowUp } from "@lucide/astro";

Astro.csp.insertScriptHash(
	"sha256-GpY68aOv4SYcs0PtJ0+7V0kPsPTrQUngx0ruMjIHjQI=",
);
---

<button
  id="scrollButton"
  aria-label="Scroll button"
  class="fixed bottom-6 right-6 z-50 p-3 bg-black text-white rounded-full shadow-md transition-colors hover:bg-neutral-800"
>
  <ArrowUp id="scrollIcon" class="w-5 h-5" />
</button>

<script is:inline>
const scrollButton = document.getElementById("scrollButton");
const updateIconVisibility = () => {
	if (window.scrollY === 0) {
		scrollButton.hidden = true;
	} else {
		scrollButton.hidden = false;
	}
};

window.addEventListener("scroll", updateIconVisibility);
window.addEventListener("load", updateIconVisibility);

scrollButton.addEventListener("click", () => {
	window.scrollTo({ top: 0, behavior: "smooth" });
});
</script>
