*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 12%);
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 9%);
    border-radius: 10vw;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 0%);
}
/* header */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/img/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* navigation */
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #FFF;
    text-decoration: none;
    font-family: 'Panton', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: auto;
    transform: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;

/* Footer */
}
footer{
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    font-family: 'Panton', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
/* footer navigation */
.fa-brands{
    color: white;
    transform: scale(2);
    margin: 20px;
    transition: 0.25s;
}
.fa-brands:hover{
    color: gray;
}
.footerNav {
    text-align: center;
}
.footerNav a{
    font-family: 'Panton', sans-serif;
    display: flex;
    display: inline-block;
    margin-right: 10px;
}
.footerNav a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav a:hover{
    opacity: 1;
}
/* footer bottom */
.footer-bottom{
    overflow: auto;
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    margin-left: 20px;
    float: left;
    font-family: 'Panton', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
}
#affiliation {
    margin-right: 20px;
    float: right;
}