---
import { twMerge } from "tailwind-merge";
import Footer from "@component/footer.astro";
// Components
import Head from "@component/head.astro";
import Header from "@component/header.astro"

// Styles
import "../styles/style.css";
---


<Head title="TeaClient Documents" />
<Header />
<div class={twMerge(`container flex text-white bg-[var(--nav-color)]  ${Astro.props.class}`)}>
    <slot />
</div>
<Footer />