---
// Components
import Head from '../components/shared/head.astro';
import Header from '../components/shared/header.astro';
import Footer from '../components/shared/footer.astro';

// Styles
import '../styles/style.scss';
---

<Head />
<Header />
<div class="container flex text-white justify-center pl-10 pr-10">
    <slot class="input" />
</div>
<Footer />

<style>
</style>