---
import { twMerge } from "tailwind-merge";
import Footer from "../components/shared/footer.astro";
// Components
import Head from "../components/shared/head.astro";
import Header from "../components/shared/header.astro";

// Styles
import "../styles/style.scss";
---


<Head title="TeaClient Documents" />
<Header />
<div class={twMerge(`container flex text-white bg-[var(--nav-color)]  ${Astro.props.class}`)}>
    <slot />
</div>
<Footer />