---
import Footer from "@/components/footer.astro";
import Head from "@/components/head.astro";
import "../styles/global.css";

const { errorNumber: errorNumberProp, Message: message } =
	Astro.props.frontmatter || Astro.props;
---
<!DOCTYPE html>
<html class="h-full" lang="en">
  <Head
    title={`${errorNumberProp} | TeaClient Website`}
    description={message}
  />
  <body class="text-white h-full w-full flex flex-col bg-linear-to-b from-purple-950 from-20% to-80% to-black bg-no-repeat bg-fixed">
    <div class="absolute -top-10 -z-5 m-auto h-1/6 w-full rounded-full bg-linear-to-b from-white/5 blur-[100px]">
    </div>
    <div class="error justify-center items-center text-center content-center h-screen">
      <h1 class="text-3xl text-purple-400 mb-5">{errorNumberProp}</h1>
      <p class="text-lg">{message}</p>
      <a class="text-sky-300 text-sm" href="/">Back to Home Page</a>
    </div>
    <Footer />
  </body>
</html>
