---
import Navbar from "@/components/Navbar.astro";
import Head from "@/components/head.astro";
import type { Props as HeadProps } from "@/components/head.astro";
import Footer from "@/components/footer.astro";
import Scroll from "@/components/Scroll.astro";
import AnnoucementBar from "@/components/AnnoucementBar.astro";
import AgreementModel from "@/components/AgreementModel.astro";
import "@/styles/global.css";
import TwitchEmbed from "@/components/TwitchEmbed.astro";

interface AditionalProps {
	agreement?: boolean | true;
	store?: boolean | false;
}

export type Props = HeadProps & AditionalProps;

const props = Astro.props;

const agree = props.agreement ?? true;
---

<!DOCTYPE html>
<html class="h-full" lang="en">
  <Head {...props} />
  <body class="text-white h-full w-full bg-linear-to-b from-purple-950 from-20% to-80% to-black bg-no-repeat bg-fixed">
    <AnnoucementBar />
    <TwitchEmbed />
    <Navbar />
    <div class="absolute -top-10 -z-5 m-auto h-1/6 w-full rounded-full bg-linear-to-b from-white/5 blur-[100px]">
    </div>
    {agree && <AgreementModel store />}
    <Scroll />
    <main class="flex flex-col w-full z-0 transition-opacity duration-300 sm:pt-none pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
