---
// Components
import Head from '../components/shared/head.astro';
import Header from '../components/shared/header.astro';
import Footer from '../components/shared/footer.astro';
import {twMerge} from "tailwind-merge"

// Styles
import '../styles/style.scss';
---


<Head />
<Header />
<div class={twMerge(`flex flex-col h-screen text-white my-[5%] mx-[5%] bg-[var(--nav-color)] rounded-lg ${Astro.props.class}`)}>
    <slot />
</div>
<Footer />
