---
import Footer from "@/components/footer.astro";
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";

import { twMerge } from "tailwind-merge";
import "../styles/style.css";

export interface Props {
  title?: string;
  className?: string;
  desc?: string;
  banner?: string;
  extraFooterClass?: string;
}
const { title, className, desc, banner, extraFooterClass } = Astro.props;
---

<Head
  title={String(title) ?? "TeaClent Website"}
  customDescription={desc}
  ,
  bannerPath={banner}
/>
<Header />
<div
  class={twMerge(
    `flex flex-col text-white my-[5%] mx-[5%] bg-[var(--nav-color)] backdrop-blur-[7px] rounded-lg ${className}`
  )}
>
  <slot />
</div>
<Footer extraClass={extraFooterClass} />
