---
// Components
import Head from '../components/shared/head.astro';
import Header from '../components/shared/header.astro';
import Footer from '../components/shared/footer.astro';

// Styles
import '../styles/style.scss';
---

<script src="../scripts/webvitals.ts"></script>

<Head />
<Header />
<!-- Content -->
<div class="container">
  <slot />
</div>
<!--Footer -->
<Footer />
