---
// Components
import Head from '../components/shared/head.astro';
import Header from '../components/shared/header.astro';
import Footer from '../components/shared/footer.astro';

// Styles
import '../styles/style.scss';
---


<Head />
<Header />
<div class={`container flex text-white ${Astro.props.class}`}>
    <slot />
</div>
<Footer />


<style>
    .mdx {
            @apply text-blue-600;
    }
</style>