---
import { SEO } from "astro-seo";
import { defaultMeta } from "@/config";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/footer.astro";
import Scroll from "@/components/Scroll.astro";
import AnnoucementBar from "@/components/AnnoucementBar.astro";
import AgreementModel from "@/components/AgreementModel.astro";
import "@/styles/global.css";

const title = defaultMeta.title;
const description = "A QOL Minecraft Client for modern versions of Minecraft";
const url = import.meta.env.SITE;
const image = "/banner.webp";
const favicon = "/icon.webp";

interface Props {
	agreement?: boolean | true;
}
const { agreement } = Astro.props;
const agree = agreement ?? true;
---

<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <SEO
			title,
			description,
      openGraph={{
      	basic: {
      		title,
      		type: "website",
      		image,
      		url,
      	},
      	optional: {
      		description,
      		siteName: "TeaClient",
      	},
      }}
      twitter={{
      	card: "summary_large_image",
      	title,
      	description,
      	image,
      }}
			extend={{
			link: [
      		{ rel: "sitemap", href: "/sitemap-index.xml" },
      		{ rel: "canonical", href: url },
      	],
      	meta: [
      		{ name: "theme-color", content: "#410A6B" },
      		{ name: "darkreader-lock" },
      		{
      			httpEquiv: "ContentSecurityPolicy",
      			content:
      				"Content-Security-Policy: default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self' https://cdn.cloudflare.com;",
      		},
      		{
      			name: "viewport",
      			content:
      				"width=device-width, initial-scale=1.0, shrink-to-fit=yes, viewport-fit=cover",
      		},
      	],
      }}
    />
    <meta charset="UTF-8" />
  </head>
  <body class="text-white h-full w-full bg-linear-to-b from-purple-950 from-20% to-80% to-black bg-no-repeat bg-fixed">
    <AnnoucementBar />
    <Navbar />
    <div class="absolute -top-10 -z-5 m-auto h-1/6 w-full rounded-full bg-linear-to-b from-white/5 blur-[100px]">
    </div>
    {agree && <AgreementModel />}
    <Scroll />
    <main class="flex flex-col w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
