# DO NOT TOUCH THIS FILE
# Please speak to SudoVanilla (Korbs) if you have any issues.
# For Security check please contact Eveeifyeve Instead of sudovanilla.

name: Deploy Website

on:
 push:
  branches:
   - main
 workflow_dispatch:

env:
 # Use docker.io for Docker Hub if empty
 REGISTRY: ghcr.io
 # github.repository as <account>/<repo>
 IMAGE_NAME: ${{ github.repository }}

jobs:
 quality:
  name: Quality
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4

    - uses: biomejs/setup-biome@v2
      with:
       version: latest
    - name: Run Biome
      run: biome ci .

    - uses: oven-sh/setup-bun@v1
      with:
       bun-version: latest

    - name: Install Deps
      run: bun install

    - name: Check Quality
      run: bunx @biomejs/biome check . && bunx stylelint 'src/styles/**/*.css' && bunx astro check

 testing:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
         bun-version: latest

      - name: Install Deps
        run: bun install
      
      - name: Install Browsers Required for tests.
        run: bunx playwright install
      
      - name: Run Testing
        run: bun test

 build:
    name: Building
    needs: [quality,testing]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install, build, and upload your site
        uses: withastro/action@v2
        with:
         package-manager:  bun@latest    
 deploy: 
   name: Deploying to GH Pages
   needs: build
   runs-on: ubuntu-latest
   permissions: 
    pages: write
    id-token: write
   environment:
    name: github-pages
    url: ${{ steps.deployment.outputs.page_url }}
   steps: 
     - name: Deploy to GitHub Pages
       id: deployment
       uses: actions/deploy-pages@v4